{% extends 'base.html' %}

{% block extrahead %}
<style>
    #mainNav {
        background-color: #474c52 !important;
    }
    .content-below-nav {
        padding-top: 70px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4 content-below-nav">
    <h1>Write your article</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Publish</button>
    </form>
</div>
{% endblock %}